<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="./archive/{{product.archiveName}}" style="width:100%; " />
    </div>
    <div class="col-md-6">
      <div class="row mb-4" style="color:#666;"><h1 class="h4">{{product.description}}</h1></div>
      <div class="row mb-4"><h1 class="h4">R$ {{product.price}}</h1></div>
      <div class="row mb-4">
        <button class="btn btn-danger btn-lg" (click)="buy()">Buy</button>
      </div>
    </div>
  </div>
</div>
