
<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2"><fa-icon [icon]="faShippingFast"></fa-icon> Delivery Address Register</h1>

    <div class="row">
      <div class="col">


        <!--CEP-->
        <label for="inputCEP" class="sr-only">*CEP</label>
        <input type="text"
               name="cep"
               id="inputCEP"
               placeholder="CEP *only numbers"
               class="form-control form-control-sm mb-2"
               [(ngModel)]="deliveryAddress.cep"
               [ngClass]="{
              'is-valid': cep.valid && (cep.dirty || cep.touched),
              'is-invalid': cep.invalid && (cep.dirty || cep.tpuched)
           }"
               #cep="ngModel"
               required
               maxlength="9"
               min="9"
               size="8"
               mask="00000-000"
               (keyup)="cepKeyUp($event)"
               [disabled]="activate_spiner" />

        <div class="text-danger mb-2" *ngIf="msgError">
          {{msgError}}
        </div>
        <div class="invalid-feedback mb-2" *ngIf="cep.invalid && (cep.dirty || cep.touched)">
          <div *ngIf="cep.errors.required">
            CEP is required
          </div>
          <div *ngIf="cep.errors.cep">
            CEP is Invalid
          </div>
        </div>
      </div>
      <div class="spinnerCEP" *ngIf="activate_spiner">
        <div class="spinner-border spinner-border-sm text-info spinner"></div>
      </div>

    </div>

    <div *ngIf="cepSend">
      <div class="row">
        <!--St Address-->
        <div class="col-md-8">
          <label for="inputPublicPlace" class="sr-only">*Street Address</label>
          <input type="text"
                 name="publicPlace"
                 id="inputPublicPlace"
                 placeholder="Street Address"
                 class="form-control form-control-sm mb-2 inputStreetAddress"
                 [(ngModel)]="deliveryAddress.publicPlace"
                 [ngClass]="{
              'is-valid': publicPlace.valid && (publicPlace.dirty || publicPlace.touched),
              'is-invalid': publicPlace.invalid && (publicPlace.dirty || publicPlace.touched)
           }"
                 #publicPlace="ngModel"
                 required
                 minlength="5"
                 min="5"
                 size="100" />

          <div class="invalid-feedback mb-2" *ngIf="publicPlace.invalid && (publicPlace.dirty || publicPlace.touched)">
            <div *ngIf="publicPlace.errors.required">
              Street Address is required
            </div>
            <div *ngIf="publicPlace.errors.publicPlace">
              Street Address is invalid
            </div>
            <div *ngIf="publicPlace.errors.minlength">
              Min. 5 characters
            </div>
          </div>
        </div>

        <!--Number-->
        <div class="col">
          <label for="inputNumber" class="sr-only">*Number</label>
          <input type="text"
                 name="number"
                 id="inputNumber"
                 placeholder="Number"
                 class="form-control form-control-sm mb-2 inputNumberSize"
                 [(ngModel)]="deliveryAddress.number"
                 [ngClass]="{
              'is-valid': number.valid && (number.dirty || number.touched),
              'is-invalid': number.invalid && (number.dirty || number.touched)
           }"
                 #number="ngModel"
                 required
                 maxlength="9" />

          <div class="invalid-feedback mb-2" *ngIf="number.invalid && (number.dirty || number.touched)">
            <div *ngIf="number.errors.required">
              Number required
            </div>
            <div *ngIf="number.errors.number">
              Number invalid
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!--Annotation-->
        <div class="col-md-12">
          <label for="inputPublicPlace" class="sr-only">Apto/Annotation</label>
          <input type="text"
                 name="annotation"
                 id="inputAnnotation"
                 placeholder="Annotation"
                 class="form-control form-control-sm mb-2 inputStreetAddress"
                 [(ngModel)]="deliveryAddress.annotation"
                 [ngClass]="{
              'is-valid': annotation.valid && (annotation.dirty || annotation.touched),
              'is-invalid': annotation.invalid && (annotation.dirty || annotation.touched)
           }"
                 #annotation="ngModel"
                 size="100" />

          <!--<div class="invalid-feedback mb-2" *ngIf="annotation.invalid && (annotation.dirty || annotation.touched)">
            <div *ngIf="annotation.errors.annotation">
              annotation is invalid
            </div>
          </div>-->
        </div>
      </div>

      <div class="row">
        <!--Province-->
        <div class="col-md-3">
          <label for="inputPublicPlace" class="sr-only">*Province</label>
          <input type="text"
                 name="province"
                 id="inputProvince"
                 placeholder="City"
                 class="form-control form-control-sm mb-2"
                 [(ngModel)]="deliveryAddress.province"
                 [ngClass]="{
              'is-valid': province.valid && (province.dirty || province.touched),
              'is-invalid': province.invalid && (province.dirty || province.touched)
           }"
                 #province="ngModel"
                 required
                 minlength="2"
                 min="2"
                 size="100" />

          <div class="invalid-feedback mb-2" *ngIf="province.invalid && (province.dirty || province.touched)">
            <div *ngIf="province.errors.required">
              Province is required
            </div>
            <div *ngIf="province.errors.province">
              Province is invalid
            </div>
            <div *ngIf="province.errors.minlength">
              Min. 2 characters
            </div>
          </div>
        </div>

        <!--City-->
        <div class="col-md-9">
          <label for="inputPublicPlace" class="sr-only">*City</label>
          <input type="text"
                 name="city"
                 id="inputCity"
                 placeholder="City"
                 class="form-control form-control-sm mb-2"
                 [(ngModel)]="deliveryAddress.city"
                 [ngClass]="{
              'is-valid': city.valid && (city.dirty || city.touched),
              'is-invalid': city.invalid && (city.dirty || city.touched)
           }"
                 #city="ngModel"
                 required
                 minlength="5"
                 min="3"
                 size="100" />

          <div class="invalid-feedback mb-2" *ngIf="city.invalid && (city.dirty || city.touched)">
            <div *ngIf="city.errors.required">
              City is required
            </div>
            <div *ngIf="city.errors.city">
              City is invalid
            </div>
            <div *ngIf="city.errors.minlength">
              Min. 3 characters
            </div>
          </div>
        </div>

      </div>



      <div class="row">
        <div class="col-md-9">
          <label for="inputPublicPlace" class="sr-only">*Neighborhood</label>
          <input type="text"
                 name="neighborhood"
                 id="inputNeighborhood"
                 placeholder="Neighborhood"
                 class="form-control form-control-sm mb-2"
                 [(ngModel)]="deliveryAddress.neighborhood"
                 [ngClass]="{
              'is-valid': neighborhood.valid && (neighborhood.dirty || neighborhood.touched),
              'is-invalid': neighborhood.invalid && (neighborhood.dirty || neighborhood.touched)
           }"
                 #neighborhood="ngModel"
                 required
                 minlength="5"
                 min="3"
                 size="100" />

          <div class="invalid-feedback mb-2" *ngIf="neighborhood.invalid && (neighborhood.dirty || neighborhood.touched)">
            <div *ngIf="neighborhood.errors.required">
              City is required
            </div>
            <div *ngIf="neighborhood.errors.neighborhood">
              City is invalid
            </div>
            <div *ngIf="neighborhood.errors.minlength">
              Min. 3 characters
            </div>
          </div>
        </div>

      </div>


    </div>


  </form>

</div>
