<div class="text-center">
  <form class="form-signin">

    <h1 class="h4 mb-2 login">Create Account</h1>

    <!--Email-->
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email"
           name="email"
           id="inputEmail"
           placeholder="Email"
           class="form-control mb-2"
           [(ngModel)]="user.email"
           [ngClass]="{
              'is-valid':email.valid && (email.dirty || email.touched),
              'is-invalid':email.invalid && (email.dirty || email.touched)
           }"
           #email="ngModel"
           email
           required />


    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required
      </div>
      <div *ngIf="email.errors.email">
        Insert a valid email
      </div>
    </div>

    <!--Password-->
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"
           name="password"
           id="inputPassword"
           placeholder="Password"
           class="form-control mb-2"
           [(ngModel)]="user.password"
           [ngClass]="{
              'is-valid': password.valid && (password.dirty || password.touched),
              'is-invalid': password.invalid && (password.dirty || password.touched)
           }"
           #password="ngModel"
           min="5"
           required />
    <div class="invalid-feedback mb-2" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Password is required
      </div>
      <div *ngIf="password.errors.password">
        Password is required
      </div>
    </div>


    <!--Name-->
    <label for="inputName" class="sr-only">Name</label>
    <input type="text"
           name="name"
           id="inputName"
           placeholder="Name"
           class="form-control mb-2"
           [(ngModel)]="user.name"
           [ngClass]="{
              'is-valid':name.valid && (name.dirty || name.touched),
              'is-invalid':name.invalid && (email.dirty || name.touched)
           }"
           #name="ngModel"
           required />


    <div class="invalid-feedback mb-2" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="email.errors.required">
        Name is required
      </div>
    </div>


    <!--LastName-->
    <label for="inputLastName" class="sr-only">Last Name</label>
    <input type="text"
           name="lastName"
           id="inputLastName"
           placeholder="Last Name"
           class="form-control mb-2"
           [(ngModel)]="user.lastName"
           [ngClass]="{
              'is-valid':lastName.valid && (lastName.dirty || lastName.touched),
              'is-invalid':lastName.invalid && (lastName.dirty || lastName.touched)
           }"
           #lastName="ngModel"
           required />

    <div class="invalid-feedback mb-2" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors.required">
        Last Name is required
      </div>
    </div>


    <!--Button-->
    <div class="row">
      <button class="col-auto mr-auto btn btn-danger mb-2 ml-3" [disabled]="disable_CancelBtn" [routerLink]='["/login"]'>
        Back
      </button>

      <button class="col-auto btn btn-primary mb-2 mr-3" type="submit" (click)="registerUser()" [disabled]="activate_Spiner">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activate_Spiner"></span>
        Register
      </button>

    </div>

    <div class="alert alert-danger" *ngIf="msg">
      {{msg}}
    </div>

    <div class="alert alert-success" *ngIf="userRegistred">
      User registred succesful. <a class="alert-link" [routerLink]='["/login"]'>Click here to login</a>
    </div>



  </form>
</div>
