<div class="text-center">
  <form class="form-signin">

    <h1 class="h4 mb-2 login">Registro de Novo Usuario</h1>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email"
           name="email"
           id="inputEmail"
           placeholder="Informe o seu Email"
           class="form-control mb-2"
           [(ngModel)]="user.email"
           [ngClass]="{
              'is-valid':email.valid && (email.dirty || email.touched),
              'is-invalid':email.invalid && (email.dirty || email.touched)
           }"
           #email="ngModel"
           email
           required />


    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required
      </div>
      <div *ngIf="email.errors.email">
        Insert a valid email
      </div>
    </div>

    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password"
           name="password"
           id="inputPassword"
           placeholder="Password"
           class="form-control mb-2"
           [(ngModel)]="user.password"
           [ngClass]="{
              'is-valid': password.valid && (password.dirty || password.touched),
              'is-invalid': password.invalid && (password.dirty || password.touched)
           }"
           #password="ngModel"
           min="5"
           required />
    <div class="invalid-feedback mb-2" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Password is required
      </div>
      <div *ngIf="password.errors.password">
        Password is required
      </div>
    </div>

    <label for="inputName" class="sr-only">Nome</label>
    <input type="text"
           name="name"
           id="inputName"
           placeholder="Informe seu Nome"
           class="form-control mb-2"
           [(ngModel)]="user.name"
           [ngClass]="{
              'is-valid':name.valid && (name.dirty || name.touched),
              'is-invalid':name.invalid && (email.dirty || name.touched)
           }"
           #name="ngModel"
           required />


    <div class="invalid-feedback mb-2" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="email.errors.required">
        Name is required
      </div>
      <div *ngIf="email.errors.email">
        Insert a valid name
      </div>
    </div>


    <button class="btn btn-primary btn-block mb-2" type="submit" (click)="enter()" [disabled]="activate_Spiner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activate_Spiner"></span>
      Register
    </button>

    <div class="alert alert-danger" *ngIf="msg">
      {{msg}}
    </div>



  </form>
</div>
